@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #eee;
  border-bottom: 2px solid #fbfcfc;
  display: flex;
  align-content: center;
  padding: 5px 0;
}
header nav {
  width: 992px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 80%;
}
header ul li {
  display: flex;
  align-content: center;
  margin: 0 10px 0 0;
}
header a {
  margin: auto 0;
  padding: 5px 8px;
  color: #222;
  text-decoration: none;
}
header a h1 {
  margin: 0;
}
header a:hover {
  background-color: #fbfcfc;
  text-decoration: none;
  color: #222;
}
section {
  max-width: 992px;
  background-color: #eee;
  margin: 0 auto;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: 5px 8px;
  min-height: 90vh;
}
footer {
  padding: 5px 0;
  background-color: #eee;
  border-top: 2px solid #fbfcfc;
}
footer h1 {
  text-align: center;
}
#login-form {
  padding: 30px;
}
#login-form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  padding: 0;
}
#login-form ul li {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
#login-form ul li a {
  margin-top: 5px;
}
#login-form ul input[type="submit"] {
  border: none;
  background-color: #f9e79f;
  margin-top: 15px;
  border-radius: 5px;
}
.text-center {
  text-align: center;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 10px;
}

.user-detalle {
  border: 1px dotted white;
}

.listaFormulario {
  list-style-type: none;
  padding: 0;
}

.red-a {
  color: red;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img-top {
  width: 100%;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-text {
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

#productos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prod-butt-cont {
  width: 100%;
}

.prod-butt-cont button {
  width: 50%;
}

.prod-wrapper {
  margin-top: 30px;
}
